@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans+Narrow:400,700');
@import 'mixins';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: $black;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 4px;
  line-height: 110%;
}

h1 { font-size: 48px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 15px; }
h6 { font-size: 12px; }

b,strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: $yellow;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 4px;

  &:hover {
    color: $dark-yellow;
  }
}

table {
  width: 100%;
  border: 1px solid $light-gray;
  text-align: left;
  border-collapse: collapse;

  th {
    font-weight: 700;
  }

  th,td {
    border: 1px solid $light-gray;
    padding: 5px;
  }
}

input[type=text],input[type=password],textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid $light-gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: $black;

  &:focus {
    border: 2px solid $black;
    outline: none;
  }
}

input[type=submit],.button {
  display: inline-block;
  background-color: transparent;
  color: $black;
  padding: 10px 15px;
  border: 2px solid $black;
  margin: 8px 0;

  &:hover,&:focus {
    color: $dark-yellow;
    border: 2px solid $dark-yellow;
    cursor: pointer;
    outline: none;
  }
}

// Custom elements

.clear {
  clear: both;
}

.container {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  clear: both;
}

.field_with_errors {

  input[type=text],input[type=password],textarea {
    border: 1px solid #ff0000;
  }
}

.center {
  text-align: center;
}
