@import 'mixins';

/* Sizes */

$menu-height: 70px;
$pede_pizza_menu-height: 40px;

#menus {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  clear: both;

  #pede_pizza_menu {
    height: $pede_pizza_menu-height;
    width: 100%;
    clear: both;
    background-color: $black;

    a {
      display: inline-block;
      line-height: $pede_pizza_menu-height;
      color: $white;

      &:hover {
        text-decoration: none;
        color: $yellow;
      }
    }

    .logo {
      font-weight: 700;
    }

    .menu-button {
      float: right;
      margin-left: 15px;
    }
  }

  #menu {
    height: $menu-height;
    width: 100%;
    clear: both;
    background-color: $yellow;
    color: $black;
    text-align: center;
    font-size: 14px;

    a {
      position: relative;
      display: inline-block;
      height: $menu-height;
      width: 30%;
      text-align: center;
      color: $black;
      font-weight: 700;

      i {
        display: inline-block;
        margin-bottom: 3px;
        padding-top: 20px;
        margin-right: 10px;
        @media screen and (max-width: $break-small) {
          display: block;
          padding-top: 10px;
          margin-right: 0px;
        }
      }

      &:hover {
        text-decoration: none;
        color: $dark-yellow;
      }

      &.selected {
        color: $dark-yellow;
      }
    }
  }

}

#footer {
  width: 100%;
  clear: both;
  background: $gray;
  color: $black;
  padding: 30px 0;
  margin-top: 50px;
  text-align: center;
}
