/* Colors */

$black: #252525;
$gray: #F2F3F4;
$light-gray: #dddddd;
$super-light-gray: #F4F6F7;
$white: #ffffff;
$yellow: #F1C40F;
$light-yellow: #F9E79F;
$dark-yellow: #7D6608;

/* Breake points */

$break-small: 600px;
