/* Colors */

$black: #212121;
$gray: #616161;
$light-gray: #9E9E9E;
$white: #ffffff;

/* Breakpoints */

$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
