@import 'mixins';

.product {
  position: relative;
  clear: both;
  margin-bottom: 20px;

  .info {
    width: calc(100% - 50px);
    float: left;

    .name {
      margin: 0;

      span {
        display: inline-block;
        text-align: right;
        float: right;
      }
    }

    .price {
      margin: 0;
      letter-spacing: 0;
    }

    .line {
      border-bottom: 1px dashed $black;
    }

    .description {
      margin: 0;
    }
  }

  .add {
    float: right;
    width: 50px;
  }
}
