<% for i in 1..5 %>
  <div class="product">
    <div class="info">
      <h3 class="name">Heirloom Tomato Caprese <span>teste</span></h3>
      <h3 class="price">R$ 100,00</h3>
      <div class="line clear"></div>
      <p class="description">Mixed greens, fresh pulled mozzarella, garden basil, Hawaiian sea salt, extra virgin olive oil</p>
    </div>
    <div class="add">
      <a href="#"><span>0</span><i class="fas fa-plus"></i></a>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
